.thumbnail2 {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    vertical-align: middle;
}
.search {
    font-size: 35px;
    margin-left: 12px;
    margin-right: 5px;
    border-radius: 8px;
    object-fit: cover;
    vertical-align: middle;
}
.tweet{
    background-color: rgb(29, 155, 240);
color: white;
border: none;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 16px;
padding-right: 16px;
border-radius: 30px;
font-size: 16px;
font-weight: bold;
vertical-align: middle;
}
.tweet:hover {
box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.prev {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}