p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

    .Video-tittle {
        font-weight: bold;
        font-size: 18px;
        width: 300px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .video-stats {
       font-size: 14px;
       color: rgb(103, 101, 101);
       margin-bottom: 10px;
    }

    .video-author {
        font-size: 14px;
        color: rgb(103, 101, 101);
        margin-bottom: 20px;
    }

    .video-discription {
        font-family: Arial;
        font-size: 14px;
        color: rgb(128, 125, 125);
        width: 280px;
        line-height: 22px;
        margin-bottom: 50px;
    }

    .end-text {
        margin-bottom: 50px;
        font-size: 16px;
        background-color: rgb(248, 72, 72);
        color: white;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .span-example {
        color: red;
        margin-left: 12px;
    }
    .span-example:hover {
        text-decoration: underline;
    }

    .link {
        cursor: pointer;
    }
    .link:hover {
        text-decoration: underline;
    }